extends layout

block content
  nav#navbar
    #brand
      a(href="#") InstaParse
    #buttons
      a#use(href="#") use
      a#download(href="https://github.com/ImpGuard/instaparse/releases/download/0.9.0/instaparse.py" download) download
      a#github(href="https://github.com/ImpGuard/heimer") github
    #download-popup
      p Click to download the script
    #github-popup
      p Leaving to github.com/ImpGuard/heimer
    #use-popup
      p Use instaparse now!

  nav#sidebar
    each section in sections
      .item
        a(href= "#")= section.name
        div.subitems(style="display: none")
          each subsectionName in section.subsections
            .subitem
              a(href= "#")= subsectionName
    #section-selector
    #subsection-selector

  #container
    #fakenavbar

    #content
      each section in sections
        .section!= section.content

  #footer


