extends layout

block content
  nav#navbar
    #brand
      a(href="#") InstaParser
    #buttons
      a(href="#") use
      a(href="#") download
      a(href="#") github

  nav#sidebar
    #section-selector
    #subsection-selector
    each section in sections
      .item.active
        a(href= "#" + section.id)= section.name

  #container
    #fakenavbar

    #content
      each section in sections
        .section(id= "#" + section.id)!= section.content

  #footer


