extends layout

block content
  nav#navbar
    #brand
      a(href="#") Instaparse
    #buttons
      a(href="#") use
      a(href="https://raw.githubusercontent.com/impguard/heimer/master/instaparse.py" download) download
      a(href="https://github.com/ImpGuard/heimer") github

  nav#sidebar
    each section in sections
      .item
        a(href= "#")= section.name
        div.subitems(style="display: none")
          each subsectionName in section.subsections
            .subitem
              a(href= "#")= subsectionName
    #section-selector
    #subsection-selector

  #container
    #fakenavbar

    #content
      each section in sections
        .section!= section.content

  #footer


