extends layout

block content
  nav#navbar
    #brand
      a(href="#") InstaParser
    #buttons
      a(href="#") use
      a(href="#") download
      a(href="https://github.com/ImpGuard/heimer") github

  nav#sidebar
    #section-selector
    #subsection-selector
    each section in sections
      .item
        a(href= "#")= section.name
        each subsectionName in section.subsections
          .subitem
            a(href= "#" style= "display: none")= subsectionName

  #container
    #fakenavbar

    #content
      each section in sections
        .section!= section.content

  #footer


