doctype html
html
  head
    title= title

    //- Stylesheets
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css")
    link(rel="stylesheet", href="styles/codemirror.css")
    link(rel="stylesheet", href="styles/neo.css")
    link(rel="stylesheet", href="styles/solarized.css")
    link(rel="stylesheet", href="style.css")
    //- Jquery
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="scripts/jquery-plugins/waypoints.min.js")
    //- Underscore
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
    //- Codemirror
    script(src="scripts/lib/codemirror.js")
    script(src="scripts/lib/active-line.js")
    script(src="scripts/lib/clike.js")
    script(src="scripts/lib/python.js")
    script(src="scripts/lib/simple.js")
    script(src="scripts/instaparse.js")
    //- Intialization and global values
    script.
      window.exports = {};
      window.exports.globals = !{JSON.stringify(globals)};
    //- Custom Scripts
    script(src="scripts/setup.js")
    script(src="scripts/editor.js")
    script(src="scripts/stateHandler.js")
    script(src="scripts/sidenav.js")
    script(src="scripts/nav.js")
    script(src="scripts/request.js")


  body.language-instaparse
    block content
