//-------------------------------------------------------------
// Colors
//-------------------------------------------------------------

// Theme color
@theme: rgb(31, 144, 255);
// Dark and light theme colors
@light: rgb(210, 233, 255);
@dark: rgb(10, 27, 35);
// Color for selected links
@hover: rgb(70, 179, 4);
// Gray color
@gray: rgb(169, 197, 225);

//-------------------------------------------------------------
// Fonts
//-------------------------------------------------------------

@font-face {
  font-family: HelveticaNeue;
  src: url(fonts/HelveticaNeueLTPro-Roman.otf) format("opentype");
}

//-------------------------------------------------------------
// Mixins
//-------------------------------------------------------------

.translateX(@amount) {
  -webkit-transform: translateX(@amount);
  transform: translateX(@amount);
}

.border-radius(@amount) {
  -webkit-border-radius:@amount;
  -moz-border-radius:@amount;
  border-radius:@amount;
}

//-------------------------------------------------------------
// Sizing Variables
//-------------------------------------------------------------

@width: 850px;
@nav-padding-top: 25px;
@nav-padding-bottom: 33px;
@nav-height: 60px + @nav-padding-top + @nav-padding-bottom;

//-------------------------------------------------------------
// CSS
//-------------------------------------------------------------

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.theme {
  color: @theme;
}

//-------------------------------------------------------------
// Navbar
//-------------------------------------------------------------

#navbar {
  width: @width;
  padding-top: @nav-padding-top;
  padding-bottom: @nav-padding-bottom;

  position: fixed;
  left: 50%;
  .translateX(-50%);

  background-color: white;
  font-family: HelveticaNeue;

  #brand {
    display: inline-block;
    a {
      font-size: 50px;
      color: @theme;
    }
  }

  #buttons {
    display: inline-block;

    a {
      padding-left: 25px;

      font-size: 25px;
      color: @dark;

      &:hover {
        color: @hover;
      }
    }
  }

  #download-popup, #github-popup, #use-popup {
    position:absolute;
    top: 85px - 10px; left: 0;
    padding: 6px 25px;
    border:1px solid @hover;
    color: @dark;
    .border-radius(10px);

    &:before {
      content:"";
      // Position at top of the box
      position:absolute;
      top: -7px;
      left: 200px;
      // Draw triangle
      border-width: 0 8px 7px;
      border-style: solid;
      border-color: @hover transparent;
      /* reduce the damage in FF3.0 */
      display:block;
      width:0;
    }

    &:after {
      content: "";
      // Position at the top of the box
      position: absolute;
      top: -6px;
      left: 201px;
      // Draw triangle
      border-width: 0 7px 6px;
      border-style: solid;
      border-color: white transparent;
      /* reduce the damage in FF3.0 */
      display:block;
      width:0;
    }

    p {
      margin: 0;
      padding-top: 1px;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 16px;
    }
  }

  #download-popup {
    left: 225px;
    &:before {
      left: 140px;
    }
    &:after {
      left: 141px;
    }
  }

  #github-popup {
    left: 285px;
  }

  #use-popup {
    left: 160px;
    &:before {
      left: 110px;
    }
    &:after {
      left: 111px;
    }
  }
}

#sidebar {
  position:fixed;
  // Magic Number
  top: @nav-height + 5px;
  left: calc(~'50% +' @width/2 - 84);
  width: 300px;

  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;

  #section-selector, #subsection-selector {
    width: 3px;
    height: 30px;
    background-color: @hover;
    position: absolute;
    top: -4px;
    left: -15px;
  }

  #section-selector {
    background-color: fade(@hover, 40%);
  }

  .item {
    margin-bottom: 20px;
    a {
      color: @dark;
      &:hover {
        color: @hover;
        text-decoration: underline;
      }
    }
  }

  .subitem {
    margin-top: 15px;
    padding-left: 15px;
    list-style-type: none;
    a {
      color: @dark;
      &:hover {
        color: @hover;
        text-decoration: underline;
      }
    }
  }

  a.active {
    color: @hover;
  }
}

#container {
  width: @width;
  margin: 0 auto;
  padding: 0;

  #fakenavbar {
    opacity: 0;
    height: @nav-height;
    visibility: hidden;
  }
}

//-------------------------------------------------------------
// Content
//-------------------------------------------------------------

#content {
  color: @dark;
  // Removing the sidebar space.
  width: @width - 84px - 38px;

  h1 {
    margin-top: 0;
    margin-bottom: 15px;

    font-family: "Open Sans";
    font-weight: 300;
    font-size: 30px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 22px;
  }

  p {
    margin-top: 0;
    margin-bottom: 22px;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 16px;
  }
}

pre code {
  font-size: 14px;
}

//-------------------------------------------------------------
// Footer
//-------------------------------------------------------------

#footer {
  width: 100%;
  height: 50px;
}
